
.container4{
    overflow: hidden;
    background: #22232508;
    margin-top: 10px;
    height: 100%;
    border-bottom: 0.5px solid #999999
    
    

}

.container2 {
    
    
       
    height: 240px;
    display: flex;
    justify-content:center;
    
  }

h3{
    font-size: 1.8vw;
    
}

p{
    overflow: hidden;
    font-size: 1vw;
}






.box1 {
    
    box-sizing: border-box; 
    position: relative;
    width: calc(18%);
    background: #FAF9F6;
    height: calc(100%);
    border: 0.5px solid;
    border-radius: 30px;
    padding-left: 3dvh;
    align-self: flex-start;
    margin-top: 4dvh;
    margin-right: 5dvh;
    margin-left: 3dvh;
    box-shadow: -8px 8px 0px 0px #ffecb6;
    transition: box-shadow 0.3s ease-in-out;
}

.box1:hover {
    box-shadow: -8px 8px 0px 0px #FEC63A;
}

.box2 {
    box-sizing: border-box; 
    position: relative;
    background: #FAF9F6;
    height: calc(100%);
    width: calc(18%);
    border: 0.5px solid;
    border-radius: 30px;
    padding-left: 3dvh;
    align-self: flex-start;
    margin-top: 4dvh;
    margin-right: 5dvh;
    margin-left: 3dvh;
    box-shadow: -8px 8px 0px 0px #ffa38e;
    transition: box-shadow 0.3s ease-in-out;

}

.box2:hover {
    box-shadow: -8px 8px 0px 0px #FC7557;
    
}

.box3 {
    box-sizing: border-box; 
    position: relative;
    background: #FAF9F6;
    height: calc(100%);
    width: calc(18%);
    flex-shrink: 0;
    border: 0.5px solid;
    border-radius: 30px;
    padding-left: 3dvh;
    align-self: flex-start;
    margin-top: 4dvh;
    margin-right: 5dvh;
    margin-left: 3dvh;
    box-shadow: -8px 8px 0px 0px #acb2ff;
    transition: box-shadow 0.3s ease-in-out;

    
}

.box3:hover {
    box-shadow: -8px 8px 0px 0px #949CFF;
}


.box4 {
    box-sizing: border-box; 
    position: relative;
    background: #FAF9F6;
    height: calc(100%);
    width: calc(18%);
    border: 0.5px solid;
    border-radius: 30px;
    padding-left: 3dvh;
    align-self: flex-start  ;
    margin-top: 4dvh;
    margin-right: 5dvh;
    margin-left: 3dvh;
    box-shadow: -8px 8px 0px 0px #96c7a2;
    transition: box-shadow 0.3s ease-in-out;

}

.box4:hover {
    box-shadow: -8px 8px 0px 0px #64C67E;
}

.text1affiche {
    overflow: scroll;
    margin-top: 8dvh;
    display: block;
    text-align: center
    
}
.container3{
    margin-top: 20px;
    height: 100%;
    display: flex;
    justify-content:center;
    margin-bottom: 2dvh;
}
.button1affiche {
    background: #FAF9F6;

    border: 0.5px solid;
    border-radius: 30px;
    align-self: center;
    padding: 7px;
    margin: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

.button2affiche {
    background: #FEC63A;

    border: 0.5px solid;
    border-radius: 30px;
   
    padding: 7px;
    margin:10px;
    transition: box-shadow 0.3s ease-in-out;
}

.button1affiche:hover {
    
    box-shadow: -4px 4px 0px 0px #222325;
    
    

}

.button2affiche:hover {
    box-shadow: -4px 4px 0px 0px #222325;
    
    
    

}




