.maincontain {
    margin-top: 70px;
    
    padding-top: 20px;
    overflow: hidden;
}


.containfooter {
    
    
    background-color: #222325;
    height : 5%
    
    
}

.titlefooter {
    margin-left: 117px;
    color: #FAF9F6;

}

.textefooter {
    margin-left: 117px;
    color: #FAF9F6;

}
.slide{
    margin-left: -117px;
    margin-top: 35px;
    display: flex;
    height: 77px;
    width: 200%;
    
    
    
    justify-content: space-evenly;
    animation: slide 15s linear infinite ;

}


@keyframes slide {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(-50%);
    }

    100% {
        transform: translate(0%);
    }
}

.slide1 {
    
    height: 100%;
    width: 2.2%;
    background-color: #222325;
    border-radius: 22px;
    
    
}




