

.container5{
    padding: 10px;
    gap: 10px;
    margin-left: 107px;
}

.text2head {
    margin-top: 50px;
    font-size: 18px;
    color: #FC7557;
}

.titrebishead {
    font-size: 28px;
    font: bold;
    
}

.texte3head {
    font-size: 19px;
    margin-bottom: 20px ;
}

/*#boxgrande {
    border:1px solid ;
    border-radius: 30px;
    width: 100px
    
    
}*/

/*.container6 {
    
    height: 50dvh;
    
    width: 152dvh;
    border: 0.5px solid;
    border-radius: 30px;
    margin-left: 117px;
    text-align: center;
    padding-top: 60px;
}*/

.texteimage1head {
    font-size: 40px;
    font-weight: bold;
    
    color: #FC7557;

    
}


.container6 {
    display: flex;
    height: 70vh;
    width: calc(90%);
    margin: auto;
    
    border-radius: 22px;
  }
  
  
  
  
  .buttons-container {
    
    display: flex;
    border-radius: 22px;
    flex: 1;
  }
  
  .button1, .button2, .button3, .button4 {
    flex: 1;
    
    border: 1px solid #e0e0e0;
   
    transition: flex 0.6s ease-in-out;
    cursor: pointer;
  }

  .button1{
    position: relative;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    background-image: url(src/assets/image1.jpeg);
    background-size: 100%;
    background-attachment: fixed;
  }

  .button2{
    position: relative;
    background-image: url(src/assets/image2.jpeg);
    background-size: 100%;
    background-attachment: fixed;
    
  }
  
  .button3{
    position: relative;
    background-image: url(src/assets/image3.jpeg);
    background-size: 100%;
    background-position: 50%;
    background-attachment: fixed;
  }

  .button4{
    position: relative;
    background-image: url(src/assets/image4.jpeg);
    background-size: 100%;
    background-attachment: fixed;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
  }
  .button1.expanded,.button2.expanded,.button3.expanded,.button4.expanded {
    flex: 5;
    
  }
  
  .button1:not(.expanded),.button2:not(.expanded),.button3:not(.expanded),.button4:not(.expanded) {
    flex: 0.1;
    width: 10%;
  }
.textgauche {
  overflow: hidden;
   text-wrap: nowrap;
    left: 0;
    bottom: 13%;
    height: 12%;
    
    color: #e0e0e0;
    position: absolute;
    font-size: 20px;
    transform: rotate(-90deg);
}

  .numerogh {
    left: 3%;
    top: 5%;
    color: #e0e0e0;
    position: absolute;
    font-size: 30px;
    transform: rotate(-90deg);
  }

  

  .textanim1.retracted{
    text-wrap: nowrap;
    overflow: scroll;
    color: #e0e0e0;
    opacity: 0%;
    transition: opacity 0.6s ease-in-out;
  }


  

  .textanim1.expanded {
    
    margin: 10%;
    color: #e0e0e0;
    opacity: 100%;
    transition: opacity 1.3s ease-in-out;
  }

  .textanim2 {

  }