.bigContainer {
    margin: auto;
    width: 80%;
    height: 46vh;
    box-shadow: -8px 8px 0px 0px #222325;
    background-color: #FAF9F6;
    border: 1px solid;
    border-radius: 22px;
    margin-bottom: 10%;
}

.formtext {
    text-align: center;
    margin: 0 40px;
}

label {
    margin: 30px;
}





#Full-Name,#e-mail,#p-number {
    border-style: none;
    margin: 30px 20px;
    border-radius: 22px;
    height: 30px;
    width: calc(15%)
    
    
}



#submit {
    
    margin-top: 2.3%;
    margin-left: 45%;
    width: Hug (191px)px;
    height: Hug (44px)px;
    padding: 10px 20px 10px 35px;
    gap: 10px;
    background-color: #FAF9F6;
    background-position: 6%;
    background-image: url(send-2.png);
    background-repeat: no-repeat;
    border-radius: 22px;
    transition: box-shadow 0.3s ease-in-out;
    transition: background-image 0.3s ease-in-out;
    border: 1px;
    opacity: 0px;
    border: 1px solid #222325
    
    
}

#submit:hover {
    
    box-shadow: -4px 4px 0px 0px #000000;
    background-image: url(send-3.png);
    background-repeat: no-repeat;
}

#send-2 {
    
}

#message {
    border-style: none;
    width: calc(80%);
    height: 90px
    

}