.containerfooter2 {
    width: 100%;
    height: 35vh;
    border-radius: 22px;
    background-color: #222325;
    display: flex;
    position: relative;
}

.containerfooter2-1 {
    width: 100%;
    height: 15%;
    background-color: #FEC63A;
    border-radius: 0 0 22px 22px;
    align-self: self-end;
    position: absolute;
}

#footertext2 {
    color: #222325;
    text-align: center;
    font-size: 15px;
}

.textfooter2 {
    /*background-color: aqua;*/
    height: 50%;
    width: 30%;
    font-size: 20px;
    color: #FAF9F6;
    margin-top: 2%;
    margin-left: 10%;
    align-items: center;
}

#textfooter1-1 {
    line-height: 23px;
    font-size: 15px;
}

.container2footer2 {
    line-height: 22px;
    color : #FAF9F6;
    display: flex;
    /*background-color: aqua;*/
    width: 43%;
    height: 60%;
    margin-top: 2%;
    margin-left: 10%;
    justify-content: space-around;
}

.textcontainer2footer2 {
    font-size: 15px;
}

.colortextfooter2 {
    color: #FAF9F6;
}