.header {
    margin-top: 100px;
    margin-left: 117px;
    margin-right: 117px;
}
.containerPere {
    display: flex;
    height: 50vh;
    width: 100%;
    /*background-color: aqua;*/
    justify-content: center;
    
}





.container1-1 {
    align-self: center;
    height: 50vh;
    width: 140vh;
    border: 1px solid #222325;
    border-radius: 30px;
    box-shadow: -8px 8px 0px 0px #FEC63A;

    

}
.container1-2 {
    align-self: center;
    height: 50vh;
    width: 140vh;
    border: 1px solid #222325;
    border-radius: 30px;
    box-shadow: -8px 8px 0px 0px #949CFF;
}

.container1-3 {
    align-self: center;
    height: 50vh;
    width: 140vh;
    border: 1px solid #222325;
    border-radius: 30px;
    box-shadow: -8px 8px 0px 0px #FC7557;
    ;
}

.container1-2.affiché {
    display: block;
}


.container1-3.affiché {
    display: block;
}


.container1-1.masqué {
    display: none;
}

.container1-2.masqué {
    display: none;
}

.container1-3.masqué {
    display: none;
}
.container2-1 {
    gap: 5px;
}
.container2-2 {
    border-radius: 22px;
    gap: 10px;
    margin-right: 10px;
    border: 0.5px solid rgb(32, 32, 32);
    padding: 10px 20px 10px 20px;
    background-color: rgb(32, 32, 32);
    color: #F7F5ED;

}

.titre1-1 {
    text-align:start;
    
}

#text1-1 {

}
.sansimage {
    overflow: hidden;
    flex-wrap: wrap;
    padding: 20px 50px 20px 50px;
}

.img2 {
    align-self: center;
    margin: 100px;
    height: 250px;
    width: 280px;
    scale: 150%;
   
   /* background-image: url(img1.png);*/
    float: left;
    
}

.buttonbismenu {
    background-color: #FEC63A;
    border-radius: 22px;
    border: 1px solid;
    padding: 10px 20px 10px 20px;
    width: 120px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out;

}

.buttonbismenu:hover {
    box-shadow: -4px 4px 0px 0px #222325;
    cursor: pointer;

}
.buttonbis22menu {
    background-color: #949CFF;
    ;
    border-radius: 22px;
    border: 1px solid;
    padding: 10px 20px 10px 20px;
    width: 120px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out;

}

.buttonbis22menu:hover {
    box-shadow: -4px 4px 0px 0px #222325;
    cursor: pointer;

}

.buttonbis33menu {
    background-color: #FC7557;
    ;
    border-radius: 22px;
    border: 1px solid;
    padding: 10px 20px 10px 20px;
    width: 120px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out;

}

.buttonbis33menu:hover {
    box-shadow: -4px 4px 0px 0px #222325;
    cursor: pointer;

}

.button2bismenu {
    text-decoration: none;
    margin: 20px;
    cursor: pointer;
    padding-bottom: 5px;
    
}

.button2bismenu:hover {
    border-bottom: 1px solid;
    
}


.flècheDrMenu {
    height: 48px;
    width: 7.8%;
    
    margin-top: 0;
    float: right;
    background-image: url(src/assets/arrow-left.png);
    transition: background-image 0.3s ease-in-out;
}

.flècheGhMenu {
    height: 48px;
    width: 7.8%;
    
    background-image: url(src/assets/arrow-right.png);
    
    float: right;
    margin-right: 5px;
    transition: background-image 0.3s ease-in-out;
    
}

.flècheDrMenu:hover {
    background-image: url(src/assets/arrowrighthover.png);
    cursor: pointer;
}
.flècheGhMenu:hover {
    background-image: url(src/assets/arrow-left2-hover.png);
    cursor: pointer;
}



