.header {
    margin-top: 100px;
    margin-left: 117px;
    margin-right: 117px;
}
.containerPere {
    display: flex;
    height: 50vh;
    width: 100%;
    /*background-color: aqua;*/
    justify-content: center;
    
}





.container1-1 {
    align-self: center;
    height: 50vh;
    width: 140vh;
    border: 1px solid #222325;
    border-radius: 30px;
    box-shadow: -8px 8px 0px 0px #FEC63A;

    

}
.container1-2 {
    align-self: center;
    height: 50vh;
    width: 140vh;
    border: 1px solid #222325;
    border-radius: 30px;
    box-shadow: -8px 8px 0px 0px #949CFF;
}

.container1-3 {
    align-self: center;
    height: 50vh;
    width: 140vh;
    border: 1px solid #222325;
    border-radius: 30px;
    box-shadow: -8px 8px 0px 0px #FC7557;
    ;
}

.container1-2.affiché {
    display: block;
}


.container1-3.affiché {
    display: block;
}


.container1-1.masqué {
    display: none;
}

.container1-2.masqué {
    display: none;
}

.container1-3.masqué {
    display: none;
}
.container2-1 {
    gap: 5px;
}
.container2-2 {
    border-radius: 22px;
    gap: 10px;
    margin-right: 10px;
    border: 0.5px solid rgb(32, 32, 32);
    padding: 10px 20px 10px 20px;
    background-color: rgb(32, 32, 32);
    color: #F7F5ED;

}

#titre1-1 {
    text-align:start;
    
}

#text1-1 {

}
.sansimage {
    overflow: hidden;
    flex-wrap: wrap;
    padding: 20px 50px 20px 50px;
}

.img2 {
    align-self: center;
    margin: 100px;
    height: 250px;
    width: 280px;
    scale: 150%;
   
   /* background-image: url(img1.png);*/
    float: left;
    
}

#buttonbis {
    background-color: #FEC63A;
    border-radius: 22px;
    border: 1px solid;
    padding: 10px 20px 10px 20px;
    width: 120px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out;

}

#buttonbis:hover {
    box-shadow: -4px 4px 0px 0px #222325;
    cursor: pointer;

}
#buttonbis22 {
    background-color: #949CFF;
    ;
    border-radius: 22px;
    border: 1px solid;
    padding: 10px 20px 10px 20px;
    width: 120px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out;

}

#buttonbis22:hover {
    box-shadow: -4px 4px 0px 0px #222325;
    cursor: pointer;

}

#buttonbis33 {
    background-color: #FC7557;
    ;
    border-radius: 22px;
    border: 1px solid;
    padding: 10px 20px 10px 20px;
    width: 120px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out;

}

#buttonbis33:hover {
    box-shadow: -4px 4px 0px 0px #222325;
    cursor: pointer;

}

#button2bis {
    text-decoration: none;
    margin: 20px;
    cursor: pointer;
    padding-bottom: 5px;
    
}

#button2bis:hover {
    border-bottom: 1px solid;
    
}


#flècheDr {
    height: 38px;
    width: 38px;
    border: 1px solid #222325;
    border-radius: 30px;
    margin-top: 70px;
    float: right;
    transition: background-color 0.3s ease-in-out;
}

#flècheGh {
    height: 38px;
    width: 38px;
    border: 1.5px solid #222325;
    border-radius: 30px;
    margin-top: 70px;
    float: right;
    margin-right: 10px;
    transition: background-color 0.3s ease-in-out;
}

#flècheDr:hover , #flècheGh:hover {
    background-color: #222325;
    cursor: pointer;
}





