.container10{
    margin-top: 70px;
    margin-left: 117px;
}

.boxing {
    display: grid;
    margin-top: 60px;
    margin-left: 117px;
    height: 500px;
    width: 150dvh;
    /*border: 0.02px solid;*/
    grid-template-columns: 1fr 1fr 1fr;
}

#grid1 {
    
    padding: 20px
    
    

    
}

#grid2 {
    margin-left: 70px;
    padding: 20px 
    
    
}

#grid3 {
    margin-left: 70px;
    padding: 20px 

    
}

.titreservices {
    font-size: 30px;
}

.texteservices {
    font-size: 20px;
    line-height: 28px;
}

#circle1 {
    height: 90px;
    width: 90px;
    opacity: 20%;
    background-color: #949CFF;
    border-radius: 50%;

}

#circle2 {
    height: 90px;
    width: 90px;
    opacity: 20%;
    background-color: #FC7557;
    ;
    border-radius: 50%;

}

#circle3 {
    height: 90px;
    width: 90px;
    opacity: 20%;
    background-color:#FEC63A;

    border-radius: 50%;

}
